* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom, green 0px, green 20%, rgb(196, 196, 196) 20%, rgb(196, 196, 196) 100%);
}
li {
    list-style: none;
}
.avt {
    display: inline;
    width: 50px;
    border-radius: 50px;
}
.nome_utente {
    display: inline;
    padding: 10px;
}
.icone {
    align-self: center;
    justify-self: flex-end;
}
i {
    padding: 3px;
}



/* general div */

.container {
    position: relative;
    width: 80%;
    height: 80vh;
    background-color: lightgrey;
    margin: 100px;
    z-index: 999;
}
.utn, .msg {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* CONTATTI */
/*UTENTE PROPRIETRIO*/
.utente {
    position: relative;
    display: flex;
    align-items: center;
    height: 10%;
    padding: 2%;
}
.utente .icone {
    position: absolute;
    right: 0;
    padding: 5px;
}
.cont li{
    display: flex;
    align-items: center;
}

.utn {
    position: absolute;
    width: 40%;
}
/* CAMPANELLO NOTIFICHE */
.notifiche {
    display: flex;
    width: 100%;
    height: 10%;
}
.notifiche {
    display: flex;
    align-content: center;
    background-color: lightblue;
    padding: 2%;
}
.bell {
    width: 50px;
    height: 50px;
    background-color: lightcyan;
    border-radius: 25px;
}
.not_text {
    padding-left: 5px;
}
.bell i {
    font-size: 2em;
    padding: 15%;
}
/* CERCA CONTATTI */
.find {
    display: flex;
    align-content: center;
    width: 100%;
    height: 5%;
    background-color: rgb(236, 238, 238);
    padding: 2%;
}
.find input {
    width: 60%;
    height: 20px;
}
/* CONTATTI */
.contatti {
    overflow: scroll;
    width: 100%;
    height: 75%;
    background-color: white;
    padding: 10px;
}
.contatti .cont li:hover {
    background: #f4f5f5;
}
.contatti .cont li:active {
    background: #2f3030;
}


/* MESSAGGI */

.msg {
    position: absolute;
    width: 60%;
    background-image: url(../img/mine.jpg);
    margin-left: 40%;
}
/* UTENTE SELEZIONATYO */
.cont_atv {
    position: relative;
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
}
.cont_atv .icone {
    position: absolute;
    right: 0;
    padding: 10px;
}
.cont_atv, .risp {
    width: 99.7%;
    height: 10%;
    margin-left: 0.3%;
}
.cont_atv h1 {
    display: inline;
    padding: 10px;
}
/* CHATTTTTTTT */
.chat {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 50px 100px 50px 100px;
}
#baloon {
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}
.text {
    align-self: center;
    font-size: 1em;
}
.date {
    position: absolute;
    font-size: 0.6em;
    bottom: 2px;
    right: 20px;
}
.baloon i {
    position: absolute;
    top: 10px;
    right: 20px ;
}
.text_received {
    background: white;
    clear: both;
}
.text_sent { 
    background: #D5F9BA;
    align-self: flex-end;
    clear: both;
}
/* INPUT DI RISPOSTA */
.risp {
   display: flex; 
   align-content: center;
   justify-content: space-around;
   background-color: rgb(236, 238, 238);
   padding: 2%;
}

.risp input {
    width: 60%;
    height: 20px;
}



